@media print {

    /* règle pour la page */

    @page {
      margin: 20mm 10mm 20mm 10mm;
      size: 210mm 297mm;
    }

    @page {
        @top-center {
            content: "Des serveurs à la fédération féministe";
            height: 10mm;
            text-align: center;
            font-family: "FreeSerif";

        }

        @bottom-center {
            content: counter(page);
            height: 10mm;
            text-align: center;
            width: 10mm;
            font-family: "FreeSerif";
        }
    }

    /* global */

    html {
        padding: 0;
        margin: 0;
        font-size: 11pt;
        line-height: 1.5;
    }

    body {
        background-color: white;
        color: black;
        font-family: "FreeSerif";
        font-weight: normal;
    }

    /* général */

    #main {
        max-width: 100%;
    }

    #main figure {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #main figure figcaption {
        color: black;
        margin: 0 0 0 0;
        font-size: 9pt;
        text-align: center;
    }

    #main figure img {
        width: 100%;
    }

    /* header */

    #header {
        width: 100%;
        margin-top: 20mm;
        page-break-after: always;
    }

    #header h1 {
        font-size: 40pt;
        line-height: 0.9;
        font-weight: normal;
    }

    #header p {
        text-align: left;
        font-size: 25pt;
        line-height: 1.3;
        margin: 5mm 0 0 0;
        padding: 0;
    }

    /* chapitre */

    #chapitre h2  {
        font-size: 15pt;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 0 5mm 0;
    }

    #chapitre p {
        font-size: 13pt;
        line-height: 1.3;
        margin: 0;
        padding: 0;
    }

    #chapitre figure {
        margin: 10mm 0 10mm 0;
    }

    #chapitre sup {
        font-size: 8pt;
    }

    #chapitre sup a {
        color: black;
        text-decoration: none;
    }

    /* notes */

    #notes {
        margin: 10mm 0 10mm 0;
        padding: 0;
        width: 80%;
    }

    #notes ol {
        margin: 0;
        padding: 0;
    }

    #notes ol li {
        padding: 0 5mm 0 5mm;
        margin: 2mm 0 2mm 0;
        font-size: 9pt;
        line-height: 1;
    }

    #notes ol li p {
        margin: 0 0 3mm 0;
        padding: 0;
    }

    #notes ol li p a {
        color: black;
    }

}
