@media screen {


    /* variables */
    :root {
        --padding: 1.5rem;
        --main-font-size: 1.2rem;
        --color-grey: #333;
        --color-light: #efefef;
        --color-text: var(--color-grey);
        --color-background: var(--color-light);
    }

    /* global */

    html {
        padding: var(--padding);
        margin: auto;
        color: var(--color-text);
        font-size: var(--main-font-size);
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 115%;
        background-color: var(--color-background);
    }


    /* structure */
    .container {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /* images et légendes */
    .container figure {
        margin: 20px 0 20px 0;
    }

    .container figure figcaption {
        font-family: "FreeSerif", serif;
        font-size: 1rem;
        color: darkblue;
        text-align: center;
    }

    /* titre et résumé */
    .container .header {
        text-align: center;
        margin-bottom: 2rem;
    }

    .container .header h1 {
        font-family: "FreeSerif", serif;
        line-height: 1;
        font-size: 3rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }

    /* corps du texte */
    .container .chapitre h2 {
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    .container .chapitre p {
        font-family: "FreeSerif", serif;
    }

    .container .chapitre p i {
        font-style: italic;
    }

    .container .chapitre p strong {
        font-weight: bold;
    }

    .container .chapitre p sup {
        top: -0.5em;
    }

    .container .chapitre p sup a {
        color: red;
        text-decoration: none;
    }

    /* notes */
    .container .notes {
        margin: 2rem 0 0 0;
        width: 80%;
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .container .notes ol {
        padding: 0 0 0 20px;
    }

    .container .notes ol li {
        padding: 0 0 0 10px;
        margin: 0 0 10px 0;
    }

    .container .notes ol li a {
        color: var(--color-text);
    }
}
